---
import "@fontsource-variable/roboto-flex/wdth.css";

interface Props {
  title: string;
}

let year = new Date().getFullYear();

let description =
  "Create 2XKO combos and share them as a URL, plain text with multiple notations, emoji, or even image. 2XKOのコンボを入力し、URL、文字、絵文字、または画像として共有しましょう！";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:image" content="/cover.jpg" />
    <meta property="twitter:image" content="/cover.jpg" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=2"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=2"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=2"
    />
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <meta name="apple-mobile-web-app-title" content="2XKO Combo Maker" />
    <meta name="application-name" content="2XKO Combo Maker" />
    <meta name="msapplication-TileColor" content="#D5F379" />
    <meta name="theme-color" content="#000000" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
  </head>
  <body
    class="flex min-h-screen flex-col border-t-8 border-lime-400 bg-black text-white"
  >
    <div class="flex-grow">
      <slot />
    </div>
    <footer
      class="mx-auto my-10 max-w-lg px-8 text-center font-mono text-xs text-slate-700"
    >
      The 2XKO name is a registered trademark or trademark of Riot Games, Inc.
      Combolab is not affiliated with, endorsed, sponsored, or specifically
      approved Riot Games, Inc.
      <br />
      <br />
      Four Rays © {year} — All rights reserved.
    </footer>
  </body>
</html>
